# Pasta com relatórios brutos em JSON
cypress/reports/*.json

# Pasta de relatório HTML (gerado automaticamente)
cypress/reports/html/

# Cache do Cypress
cypress/.cache/

# Prints e vídeos automáticos
cypress/screenshots/
cypress/videos/

# Pasta de dependências
node_modules/
package-lock.json

# Arquivos temporários e de sistema
*.log
.DS_Store